<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<!-- the import thread pool task executor -->
	<bean id="importerTaskExecutor"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="2" />
		<property name="maxPoolSize" value="5" />
		<property name="queueCapacity" value="0" />
	</bean>
	
	<!-- the import thread pool manager -->
	<bean id="importerPool" class="org.geoserver.importer.ImporterThreadManager" >
		<constructor-arg ref="importerTaskExecutor" />
	</bean>
</beans>
