<?xml version="1.0" encoding="UTF-8"?>
<!--DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd" -->

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jms="http://www.springframework.org/schema/jms" xmlns:amq="http://activemq.apache.org/schema/core"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/jms
                           http://www.springframework.org/schema/jms/spring-jms.xsd
                           http://activemq.apache.org/schema/core
                           http://activemq.apache.org/schema/core/activemq-core.xsd">

	<context:component-scan base-package="it.geosoutions.geoserver.jms" />

	<context:annotation-config />

	<bean id="JMSToggleProducer" class="it.geosolutions.geoserver.jms.events.ToggleSwitch">
		<constructor-arg index="0" value="PRODUCER" />
	</bean>

	<bean id="JMSToggleConsumer" class="it.geosolutions.geoserver.jms.events.ToggleSwitch">
		<constructor-arg index="0" value="CONSUMER" />
	</bean>

	<bean id="JMSToggleConfiguration"
		class="it.geosolutions.geoserver.jms.configuration.ToggleConfiguration" />

	<bean id="JMSConfiguration"
		class="it.geosolutions.geoserver.jms.configuration.JMSConfiguration" />

	<!-- COMMONS -->

	<bean id="JMSManager" class="it.geosolutions.geoserver.jms.JMSManager"
		lazy-init="false" />

	<!-- CLIENT -->

	<bean id="JMSQueueListener" class="it.geosolutions.geoserver.jms.client.JMSQueueListener" />

	<bean id="JMSContainer" class="it.geosolutions.geoserver.jms.client.JMSContainer">
		<constructor-arg index="0" ref="JMSConfiguration" />
		<constructor-arg index="1" ref="JMSQueueListener" />
	</bean>

</beans>
