<?xml version="1.0" encoding="UTF-8"?>
<!--DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd" -->

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jms="http://www.springframework.org/schema/jms" xmlns:amq="http://activemq.apache.org/schema/core"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/jms
                           http://www.springframework.org/schema/jms/spring-jms.xsd
                           http://activemq.apache.org/schema/core
                           http://activemq.apache.org/schema/core/activemq-core.xsd">

	<context:component-scan base-package="it.geosoutions.geoserver.jms" />

	<context:annotation-config />

<!-- 	<bean id="jmsPropertyConfigurer" -->
<!-- 		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"> -->
<!-- 		<property name="ignoreResourceNotFound" value="true" /> -->
<!-- 		<property name="ignoreUnresolvablePlaceholders" value="true" /> -->
<!-- 		<property name="locations"> -->
<!-- 			<list> -->
<!-- 				<value>classpath:jms.properties</value> -->
<!-- 			</list> -->
<!-- 		</property> -->
<!-- 	</bean> -->

	<bean id="jmsPropertyConfigurer" class="org.geoserver.config.GeoServerPropertyConfigurer">
		<constructor-arg ref="dataDirectory" />
		<property name="location" value="file:cluster.properties" />
<!-- 		<property name="properties"> -->
<!-- 			<props> -->
<!-- 				<prop key="prop1">value1</prop> -->
<!-- 				<prop key="prop2">value2</prop> -->
<!-- 			</props> -->
<!-- 		</property> -->
	</bean>

	<!-- COMMONS -->


<!-- 	<bean id="JMSProperties" class="it.geosolutions.geoserver.jms.JMSProperties" -->
<!-- 		depends-on="jmsPropertyConfigurer"> -->
<!-- 		<property name="name" value="${instance.name}" /> -->
<!-- 	</bean> -->


	<bean id="JMSManager" class="it.geosolutions.geoserver.jms.JMSManager"
		lazy-init="false" />

</beans>
