<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<!--
		====================================================================
	-->
	<!-- Property config files -->
	<!-- Any customization should go in the property file -->
	<!--
		====================================================================
	-->

	<!-- bean class="org.springframework.beans.factory.config.PropertyOverrideConfigurer">
		<property name="locations">
			<list>
				<value>classpath*:downloadProcess.properties</value>
			</list>
		</property>				
        <property name="ignoreResourceNotFound" value="false"/>        
    </bean -->

	<bean id="downloadProcessPropertyConfigurer" class="org.geoserver.config.GeoServerPropertyConfigurer">
		<constructor-arg ref="dataDirectory" />
		<property name="location" value="file:wps-cluster/downloadProcess.properties" />
		<property name="ignoreUnresolvablePlaceholders" value="false"/>
		<!-- property name="properties">
			<props>
				<prop key="prop1">value1</prop> 
				<prop key="prop2">value2</prop>
		</props> </property -->
	</bean>
 
	<bean id="downloadEstimatorProcess" class="org.geoserver.wps.gs.DownloadEstimatorProcess">
		<constructor-arg index="0" type="long" value="${downloadEstimatorProcess.readLimits}" />
		<constructor-arg index="1" type="long" value="${downloadEstimatorProcess.writeLimits}" />
		<constructor-arg index="2" type="long" value="${downloadEstimatorProcess.maxFeatures}" />
		<constructor-arg index="3" type="long" value="${downloadEstimatorProcess.hardOutputLimit}" />
		<constructor-arg index="4" ref="geoServer"/>
	</bean>
	   
	<bean id="downloadProcess" class="org.geoserver.wps.gs.DownloadProcess">
		<constructor-arg index="0" ref="geoServer"/>
		<constructor-arg index="1" ref="downloadEstimatorProcess"/>
		<constructor-arg index="2" ref="archiveZipPPIO"/>
	</bean>


	<!-- The PPIO that need to be registered into SPI because of their dependencies -->
	<bean id="archiveZipPPIO" class="org.geoserver.wps.ppio.ZipArchivePPIO">
	  <constructor-arg index="0" ref="geoServer"/>
      <constructor-arg index="1" value="${zipPPIO.compressionLevel}"/>
    </bean>
    
</beans>